* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section start */

    header{
background-color: #142954;
height: auto;
}
header .col-md-6 h2{
line-height: 60px;
}
header .col-md-6 h4{
line-height: 60px;
}
header .col-md-6 span{
line-height: 60px;
}
/* header section end */

/* BANNER section start */
main {
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(6, 116, 206,
                0.4), rgba(103, 117, 143, 0.4)), url(../img/image.jpg ),fixed no-repeat;
    background-position: center center;
    background-size: 100%;
}

main .col-md-7 {
    padding-top: 100px;
}

main .col-md-5 form {
    background-color: #142954;
    padding: 30px;
}

/* BANNER section end */
/* people section start */
#people p {
    word-break: break-all;
}

/* people section end */
/* max-width 992px */
@media screen and (max-width:991px) {
    header h2 {
        font-size: 25px;
    }

    header span {
        font-size: 14px;
    }

    header h4 span {
        font-size: 19px;
    }
}

/* max-width 992px */
/* max-width 768px */
@media screen and (max-width:767px) {
    header .col-md-6 {
        justify-content: center;
        text-align: center;

    }

    main .col-md-7 {
        padding-top: 0px;
    }
}
#sectionA {
    background-color: #142954;#4A4BB1
color: white; 
}
footer{
    background-color: #142954;
    color: white;
    height: 50px;
}

/* max-width 768px */
/* max-width 576px */
/* max-width 576px *